<div class="jumbotron">
    <h1>WebApi Interval</h1>
    <p class="lead">
        WebApiTest is a sample application that
        demonstrates how to use Entity Framework 6 in an
        ASP.NET MVC 5 web application and webapi.
    </p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Api</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices.</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interval</h2>
        <p>Select data from DB from table Interval</p>
        <p><a class="btn btn-default" href="/Intervals">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log Interval</h2>
        <p>Select data from DB from table LogInterval</p>
        <p><a class="btn btn-default" href="/LogIntervals">Learn more &raquo;</a></p>
    </div>
</div>
